<div class="page-header">
  <h1>
    Tries
    <a href="/tries/new" class="btn btn-lg btn-success">New Try</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Excercise</th>
        <th>User answer</th>
        <th>Correct</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>

      <% @tries.each do |try| %>
      <tr>
        <td><%= try.user.email %></td>
        <td><%= try.excercise.created_at %></td>
        <td><%= try.user_answer %></td>
        <td><%= try.correct %></td>
        <td><%= try.active %></td>
        <td>
          <a href="/tries/<%= try.id %>" class="btn btn-primary">Show</a>
          <a href="/tries/<%= try.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_try/<%= try.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
