<div class="page-header">
  <h3>Try #<%= @try.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @try.user.present? %>
          <a href="/users/<%= @try.user_id %>">
            <%= @try.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Excercise</dt>
      <dd>
        <% if @try.excercise.present? %>
          <a href="/ejercicios/<%= @try.excercise_id %>">
            <%= @try.excercise.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>User answer</dt>
      <dd><%= @try.user_answer %></dd>

      <dt>Correct</dt>
      <dd><%= @try.correct %></dd>

      <dt>Active</dt>
      <dd><%= @try.active %></dd>

      <dt>Intento guia</dt>
      <dd>
        <% if @try.intento_guia.present? %>
          <a href="/intento_tests/<%= @try.intento_guia_id %>">
            <%= @try.intento_guia.test_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tries" class="btn btn-primary">
        Back
      </a>
      <a href="/tries/<%= @try.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_try/<%= @try.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
