<!-- Validation failure messages -->
<% if @seccion.errors.any? %>
  <% @seccion.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Seccion</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_seccion" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for contenido_id -->
      <div class="form-group">
        <label for="contenido_id" class="control-label">
          Contenido
        </label>

        <%= select_tag(:contenido_id, options_from_collection_for_select(Contenido.all, :id, :nombre, @seccion.contenido_id), :class => "form-control") %>
      </div>

      <!-- Label and input for test_id -->
      <div class="form-group">
        <label for="test_id" class="control-label">
          Test
        </label>

        <%= select_tag(:test_id, options_from_collection_for_select(Test.all, :id, :profesor_id, @seccion.test_id), :class => "form-control") %>
      </div>

      <!-- Label and input for numero_ejercicios -->
      <div class="form-group">
        <label for="numero_ejercicios" class="control-label">
          Numero ejercicios
        </label>

        <input type="text" id="numero_ejercicios" name="numero_ejercicios" placeholder="Numero ejercicios" class="form-control" value="<%= @seccion.numero_ejercicios %>">
      </div>

      <button class="btn btn-success">
        Create Seccion
      </button>
      or
      <a href="/seccions">Cancel</a>
    </form>
  </div>
</div>
