<div class="page-header">
  <h1>
    Contenidos
    <a href="/contenidos/new" class="btn btn-lg btn-success">New Contenido</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "contenidos_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :nombre_cont, "Nombre contains" %>
    <%= f.text_field :nombre_cont, :class => "form-control", :placeholder => "Nombre contains" %>
  </div>

<div class="form-group">
  <%= f.label :siguiente, "Siguiente" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :siguiente_gteq, :class => "form-control", :placeholder => "Siguiente greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :siguiente_lteq, :class => "form-control", :placeholder => "Siguiente less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :anterior, "Anterior" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :anterior_gteq, :class => "form-control", :placeholder => "Anterior greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :anterior_lteq, :class => "form-control", :placeholder => "Anterior less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :materia_descripcion_cont, "Categorium descripcion contains" %>
      <%= f.text_field :materia_descripcion_cont, :class => "form-control", :placeholder => "Categorium descripcion contains" %>
    </div>

<div class="form-group">
      <%= f.label :tributos_contenido_name_cont, "Tributo contenido_name contains" %>
      <%= f.text_field :tributos_contenido_name_cont, :class => "form-control", :placeholder => "Tributo contenido_name contains" %>
    </div>

<div class="form-group">
          <%= f.label :created_at, "Ejercicio Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='ejerciciosgteqcreated_atPicker'>
                  <%= f.text_field :ejercicios_created_at_gteq, :class => "form-control", :placeholder => "Ejercicio Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='ejercicioslteqcreated_atPicker'>
                  <%= f.text_field :ejercicios_created_at_lteq, :class => "form-control", :placeholder => "Ejercicio Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#ejerciciosgteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#ejercicioslteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#ejerciciosgteqcreated_atPicker').on("dp.change", function (e) {
                  $('#ejercicioslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#ejercicioslteqcreated_atPicker').on("dp.change", function (e) {
                  $('#ejerciciosgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
          <%= f.label :created_at, "Seccion Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='seccionsgteqcreated_atPicker'>
                  <%= f.text_field :seccions_created_at_gteq, :class => "form-control", :placeholder => "Seccion Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='seccionslteqcreated_atPicker'>
                  <%= f.text_field :seccions_created_at_lteq, :class => "form-control", :placeholder => "Seccion Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#seccionsgteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#seccionslteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#seccionsgteqcreated_atPicker').on("dp.change", function (e) {
                  $('#seccionslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#seccionslteqcreated_atPicker').on("dp.change", function (e) {
                  $('#seccionsgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
      <%= f.label :indicadors_descripcion_cont, "Indicator descripcion contains" %>
      <%= f.text_field :indicadors_descripcion_cont, :class => "form-control", :placeholder => "Indicator descripcion contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/contenidos" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#contenidos_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Nombre</th>
        <th>Anterior</th>
        <th>Siguiente</th>
        <th>Categoria</th>
        <th>Actions</th>
      </tr>

      <% @contenidos.each do |contenido| %>
      <tr>
        <td><%= contenido.nombre %></td>
        <td><%= contenido.anterior %></td>
        <td><%= contenido.siguiente %></td>
        <td>
          <% if contenido.materia.present? %>
            <a href="/categoria/<%= contenido.materia.id %>">
              <%= contenido.materia.descripcion %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/contenidos/<%= contenido.id %>" class="btn btn-primary">Show</a>
          <a href="/contenidos/<%= contenido.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_contenido/<%= contenido.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @contenidos, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
