<!-- Validation failure messages -->
<% if @excercise.errors.any? %>
  <% @excercise.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Excercise</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_excercise" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for contenido_id -->
      <div class="form-group">
        <label for="contenido_id" class="control-label">
          Contenido
        </label>

        <input type="text" id="contenido_id" name="contenido_id" placeholder="Contenido" class="form-control" value="<%= @excercise.contenido_id %>">
      </div>

      <!-- Label and input for skill -->
      <div class="form-group">
        <label for="skill" class="control-label">
          Skill
        </label>

        <input type="text" id="skill" name="skill" placeholder="Skill" class="form-control" value="<%= @excercise.skill %>">
      </div>

      <!-- Label and input for dificultad -->
      <div class="form-group">
        <label for="dificultad" class="control-label">
          Dificultad
        </label>

        <input type="text" id="dificultad" name="dificultad" placeholder="Dificultad" class="form-control" value="<%= @excercise.dificultad %>">
      </div>

      <!-- Label and input for imagen -->
      <div class="form-group">
        <label for="imagen" class="control-label">
          Imagen
        </label>

        <input type="text" id="imagen" name="imagen" placeholder="Imagen" class="form-control" value="<%= @excercise.imagen %>">
      </div>

      <!-- Label and input for question -->
      <div class="form-group">
        <label for="question" class="control-label">
          Question
        </label>

        <textarea id="question" name="question" placeholder="Question" class="form-control" rows="3"><%= @excercise.question %></textarea>
      </div>

      <!-- Label and input for indicator_id -->
      <div class="form-group">
        <label for="indicator_id" class="control-label">
          Indicator
        </label>

        <input type="text" id="indicator_id" name="indicator_id" placeholder="Indicator" class="form-control" value="<%= @excercise.indicator_id %>">
      </div>

      <button class="btn btn-success">
        Create Excercise
      </button>
      or
      <a href="/excercises">Cancel</a>
    </form>
  </div>
</div>
