<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= @user.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @user.last_name %></dd>

      <dt>Picture</dt>
      <dd><img src="<%= @user.picture %>" class="img-responsive"></dd>

      <dt>Sala</dt>
      <dd>
        <% if @user.sala.present? %>
          <a href="/salas/<%= @user.sala_id %>">
            <%= @user.sala.profesor_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many tries -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tries
      </li>

      <% @user.tries.each do |try| %>
        <li class="list-group-item">
          <a href="/tries/<%= try.id %>">
            <%= try.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tries/<%= try.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == try.user %>
              <a href="/tries/<%= try.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_try/<%= try.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many levels -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Levels
      </li>

      <% @user.levels.each do |nivel| %>
        <li class="list-group-item">
          <a href="/nivels/<%= nivel.id %>">
            <%= nivel.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/nivels/<%= nivel.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == nivel.user %>
              <a href="/nivels/<%= nivel.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_nivel/<%= nivel.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many intento_tests -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Intento Tests
      </li>

      <% @user.intento_tests.each do |intento_test| %>
        <li class="list-group-item">
          <a href="/intento_tests/<%= intento_test.id %>">
            <%= intento_test.test_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/intento_tests/<%= intento_test.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == intento_test.user %>
              <a href="/intento_tests/<%= intento_test.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_intento_test/<%= intento_test.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many excercises -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Excercises
      </li>

      <% @user.excercises.each do |ejercicio| %>
        <li class="list-group-item">
          <a href="/ejercicios/<%= ejercicio.id %>">
            <%= ejercicio.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ejercicios/<%= ejercicio.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ejercicios/<%= ejercicio.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_ejercicio/<%= ejercicio.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
