<div class="page-header">
  <h3>Nivel #<%= @nivel.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Intended year</dt>
      <dd><%= @nivel.intended_year %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/nivels" class="btn btn-primary">
        Back
      </a>
      <a href="/nivels/<%= @nivel.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_nivel/<%= @nivel.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Nivel has many objetivos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Objetivos
      </li>

      <% @nivel.objetivos.each do |objetivo| %>
        <li class="list-group-item">
          <a href="/objetivos/<%= objetivo.id %>">
            <%= objetivo.description %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/objetivos/<%= objetivo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/objetivos/<%= objetivo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_objetivo/<%= objetivo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Nivel has many classrooms -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Classrooms
      </li>

      <% @nivel.classrooms.each do |classroom| %>
        <li class="list-group-item">
          <a href="/classrooms/<%= classroom.id %>">
            <%= classroom.nivel_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/classrooms/<%= classroom.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/classrooms/<%= classroom.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_classroom/<%= classroom.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
