<div class="page-header">
  <h3>Nivel #<%= @nivel.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @nivel.user.present? %>
          <a href="/users/<%= @nivel.user_id %>">
            <%= @nivel.user.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/nivels" class="btn btn-primary">
        Back
      </a>
      <a href="/nivels/<%= @nivel.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_nivel/<%= @nivel.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Nivel has many puntajes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Puntajes
      </li>

      <% @nivel.puntajes.each do |puntaje| %>
        <li class="list-group-item">
          <a href="/puntajes/<%= puntaje.id %>">
            <%= puntaje.nivel_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/puntajes/<%= puntaje.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/puntajes/<%= puntaje.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_puntaje/<%= puntaje.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_puntaje" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for nivel_id -->
      <input type="hidden" name="nivel_id" value="<%= @nivel.id %>">

      <!-- Label and input for categoria_id -->
      <div class="form-group">
        <label for="categoria_id" class="control-label">
          Categoria
        </label>

        <%= select_tag(:categoria_id, options_from_collection_for_select(Categorium.all, :id, :descripcion), :class => "form-control") %>
      </div>

      <!-- Label and input for score -->
      <div class="form-group">
        <label for="score" class="control-label">
          Score
        </label>

        <input type="text" id="score" name="score" placeholder="Score" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Puntaje
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
