<div class="page-header">
  <h3>Answer #<%= @answer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Right answer</dt>
      <dd><%= @answer.right_answer %></dd>

      <dt>Wrong 1</dt>
      <dd><%= @answer.wrong_1 %></dd>

      <dt>Wrong 2</dt>
      <dd><%= @answer.wrong_2 %></dd>

      <dt>Wrong 3</dt>
      <dd><%= @answer.wrong_3 %></dd>

      <dt>Wrong 4</dt>
      <dd><%= @answer.wrong_4 %></dd>

      <dt>Excercise</dt>
      <dd>
        <% if @answer.excercise.present? %>
          <a href="/excercises/<%= @answer.excercise_id %>">
            <%= @answer.excercise.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/answers" class="btn btn-primary">
        Back
      </a>
      <a href="/answers/<%= @answer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_answer/<%= @answer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
