<div class="page-header">
  <h3>Materium #<%= @materium.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @materium.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/materia" class="btn btn-primary">
        Back
      </a>
      <a href="/materia/<%= @materium.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_materium/<%= @materium.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Materium has many ejes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ejes
      </li>

      <% @materium.ejes.each do |eje| %>
        <li class="list-group-item">
          <a href="/ejes/<%= eje.id %>">
            <%= eje.description %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ejes/<%= eje.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ejes/<%= eje.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_eje/<%= eje.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_eje" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for materia_id -->
      <div class="form-group">
        <label for="materia_id" class="control-label">
          Materia
        </label>

        <%= select_tag(:materia_id, options_from_collection_for_select(Materium.all, :id, :description), :class => "form-control") %>
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Eje
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Materium has many levels -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Levels
      </li>

      <% @materium.levels.each do |user_level| %>
        <li class="list-group-item">
          <a href="/user_levels/<%= user_level.id %>">
            <%= user_level.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/user_levels/<%= user_level.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/user_levels/<%= user_level.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user_level/<%= user_level.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_user_level" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for general -->
      <div class="form-group">
        <label for="general" class="control-label">
          General
        </label>

        <input type="text" id="general" name="general" placeholder="General" class="form-control" value="">
      </div>

      <!-- Label and input for eje_1_placeholder -->
      <div class="form-group">
        <label for="eje_1_placeholder" class="control-label">
          Eje 1 placeholder
        </label>

        <input type="text" id="eje_1_placeholder" name="eje_1_placeholder" placeholder="Eje 1 placeholder" class="form-control" value="">
      </div>

      <!-- Label and input for eje_2_placeholder -->
      <div class="form-group">
        <label for="eje_2_placeholder" class="control-label">
          Eje 2 placeholder
        </label>

        <input type="text" id="eje_2_placeholder" name="eje_2_placeholder" placeholder="Eje 2 placeholder" class="form-control" value="">
      </div>

      <!-- Label and input for materia_id -->
      <div class="form-group">
        <label for="materia_id" class="control-label">
          Materia
        </label>

        <%= select_tag(:materia_id, options_from_collection_for_select(Materium.all, :id, :description), :class => "form-control") %>
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create User Level
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
