<div class="page-header">
  <h3>Eje #<%= @eje.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Materia</dt>
      <dd><%= @eje.materia_id %></dd>

      <dt>Description</dt>
      <dd><%= @eje.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ejes" class="btn btn-primary">
        Back
      </a>
      <a href="/ejes/<%= @eje.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_eje/<%= @eje.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Eje has many objetivos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Objetivos
      </li>

      <% @eje.objetivos.each do |objetivo| %>
        <li class="list-group-item">
          <a href="/objetivos/<%= objetivo.id %>">
            <%= objetivo.descripcion %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/objetivos/<%= objetivo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/objetivos/<%= objetivo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_objetivo/<%= objetivo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_objetivo" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for eje_id -->
      <input type="hidden" name="eje_id" value="<%= @eje.id %>">

      <!-- Label and input for descripcion -->
      <div class="form-group">
        <label for="descripcion" class="control-label">
          Descripcion
        </label>

        <textarea id="descripcion" name="descripcion" placeholder="Descripcion" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for numeral -->
      <div class="form-group">
        <label for="numeral" class="control-label">
          Numeral
        </label>

        <input type="text" id="numeral" name="numeral" placeholder="Numeral" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Objetivo
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Eje has many materias -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Materias
      </li>

      <% @eje.materias.each do |categorium| %>
        <li class="list-group-item">
          <a href="/categoria/<%= categorium.id %>">
            <%= categorium.descripcion %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/categoria/<%= categorium.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/categoria/<%= categorium.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_categorium/<%= categorium.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_categorium" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for descripcion -->
      <div class="form-group">
        <label for="descripcion" class="control-label">
          Descripcion
        </label>

        <textarea id="descripcion" name="descripcion" placeholder="Descripcion" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for eje_id -->
      <input type="hidden" name="eje_id" value="<%= @eje.id %>">

      <button class="btn btn-block btn-success">
        Create Categorium
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
