<div class="page-header">
  <h3>Eje #<%= @eje.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Materia</dt>
      <dd><%= @eje.materia_id %></dd>

      <dt>Description</dt>
      <dd><%= @eje.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ejes" class="btn btn-primary">
        Back
      </a>
      <a href="/ejes/<%= @eje.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_eje/<%= @eje.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Eje has many objetivos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Objetivos
      </li>

      <% @eje.objetivos.each do |objetivo| %>
        <li class="list-group-item">
          <a href="/objetivos/<%= objetivo.id %>">
            <%= objetivo.description %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/objetivos/<%= objetivo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/objetivos/<%= objetivo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_objetivo/<%= objetivo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_objetivo" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for pre_objetivo_id -->
      <div class="form-group">
        <label for="pre_objetivo_id" class="control-label">
          Pre objetivo
        </label>

        <input type="text" id="pre_objetivo_id" name="pre_objetivo_id" placeholder="Pre objetivo" class="form-control" value="">
      </div>

      <!-- Label and input for next_objetivo_id -->
      <div class="form-group">
        <label for="next_objetivo_id" class="control-label">
          Next objetivo
        </label>

        <input type="text" id="next_objetivo_id" name="next_objetivo_id" placeholder="Next objetivo" class="form-control" value="">
      </div>

      <!-- Label and input for eje_id -->
      <input type="hidden" name="eje_id" value="<%= @eje.id %>">

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for nivel_id -->
      <div class="form-group">
        <label for="nivel_id" class="control-label">
          Nivel
        </label>

        <%= select_tag(:nivel_id, options_from_collection_for_select(Nivel.all, :id, :intended_year), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Objetivo
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
