<div class="page-header">
  <h1>
    Indicators
    <a href="/indicators/new" class="btn btn-lg btn-success">New Indicator</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "indicators_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :description_cont, "Description contains" %>
    <%= f.text_field :description_cont, :class => "form-control", :placeholder => "Description contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
          <%= f.label :created_at, "Excercise Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='excercisesgteqcreated_atPicker'>
                  <%= f.text_field :excercises_created_at_gteq, :class => "form-control", :placeholder => "Excercise Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='excerciseslteqcreated_atPicker'>
                  <%= f.text_field :excercises_created_at_lteq, :class => "form-control", :placeholder => "Excercise Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#excercisesgteqcreated_atPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#excerciseslteqcreated_atPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#excercisesgteqcreated_atPicker').on("dp.change", function (e) {
                  $('#excerciseslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#excerciseslteqcreated_atPicker').on("dp.change", function (e) {
                  $('#excercisesgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
      <%= f.label :go_to_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :go_to_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :preceding_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :preceding_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :coming_from_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :coming_from_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :next_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :next_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :go_to_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :go_to_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :preceding_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :preceding_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :coming_from_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :coming_from_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :next_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :next_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :go_to_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :go_to_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :preceding_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :preceding_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :go_to_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :go_to_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :preceding_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :preceding_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :coming_from_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :coming_from_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :next_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :next_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :coming_from_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :coming_from_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :next_indicator_description_cont, "Indicator description contains" %>
      <%= f.text_field :next_indicator_description_cont, :class => "form-control", :placeholder => "Indicator description contains" %>
    </div>

<div class="form-group">
      <%= f.label :objetivo_description_cont, "Objetivo description contains" %>
      <%= f.text_field :objetivo_description_cont, :class => "form-control", :placeholder => "Objetivo description contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/indicators" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#indicators_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Pre indicator</th>
        <th>Next indicator</th>
        <th>Objetivo</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>

      <% @indicators.each do |indicator| %>
      <tr>
        <td>
          <% if indicator.preceding_indicator.present? %>
            <a href="/indicators/<%= indicator.preceding_indicator.id %>">
              <%= indicator.preceding_indicator.description %>
            </a>
          <% end %>
        </td>
        <td>
          <% if indicator.next_indicator.present? %>
            <a href="/indicators/<%= indicator.next_indicator.id %>">
              <%= indicator.next_indicator.description %>
            </a>
          <% end %>
        </td>
        <td>
          <% if indicator.objetivo.present? %>
            <a href="/objetivos/<%= indicator.objetivo.id %>">
              <%= indicator.objetivo.description %>
            </a>
          <% end %>
        </td>
        <td><%= indicator.description %></td>
        <td>
          <a href="/indicators/<%= indicator.id %>" class="btn btn-primary">Show</a>
          <a href="/indicators/<%= indicator.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_indicator/<%= indicator.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @indicators, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
