<!-- Validation failure messages -->
<% if @indicator.errors.any? %>
  <% @indicator.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Indicator</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_indicator" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for objetivo_id -->
      <div class="form-group">
        <label for="objetivo_id" class="control-label">
          Objetivo
        </label>

        <%= select_tag(:objetivo_id, options_from_collection_for_select(Objetivo.all, :id, :descripcion, @indicator.objetivo_id), :class => "form-control") %>
      </div>

      <!-- Label and input for descripcion -->
      <div class="form-group">
        <label for="descripcion" class="control-label">
          Descripcion
        </label>

        <textarea id="descripcion" name="descripcion" placeholder="Descripcion" class="form-control" rows="3"><%= @indicator.descripcion %></textarea>
      </div>

      <!-- Label and input for numeral -->
      <div class="form-group">
        <label for="numeral" class="control-label">
          Numeral
        </label>

        <input type="text" id="numeral" name="numeral" placeholder="Numeral" class="form-control" value="<%= @indicator.numeral %>">
      </div>

      <button class="btn btn-success">
        Create Indicator
      </button>
      or
      <a href="/indicators">Cancel</a>
    </form>
  </div>
</div>
