<div class="page-header">
  <h3>Indicator #<%= @indicator.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Pre indicator</dt>
      <dd><%= @indicator.pre_indicator_id %></dd>

      <dt>Next indicator</dt>
      <dd><%= @indicator.next_indicator_id %></dd>

      <dt>Objetivo</dt>
      <dd><%= @indicator.objetivo_id %></dd>

      <dt>Description</dt>
      <dd><%= @indicator.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/indicators" class="btn btn-primary">
        Back
      </a>
      <a href="/indicators/<%= @indicator.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_indicator/<%= @indicator.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Indicator has many excercises -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Excercises
      </li>

      <% @indicator.excercises.each do |excercise| %>
        <li class="list-group-item">
          <a href="/excercises/<%= excercise.id %>">
            <%= excercise.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/excercises/<%= excercise.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/excercises/<%= excercise.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_excercise/<%= excercise.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_excercise" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for contenido_id -->
      <div class="form-group">
        <label for="contenido_id" class="control-label">
          Contenido
        </label>

        <input type="text" id="contenido_id" name="contenido_id" placeholder="Contenido" class="form-control" value="">
      </div>

      <!-- Label and input for skill -->
      <div class="form-group">
        <label for="skill" class="control-label">
          Skill
        </label>

        <input type="text" id="skill" name="skill" placeholder="Skill" class="form-control" value="">
      </div>

      <!-- Label and input for dificultad -->
      <div class="form-group">
        <label for="dificultad" class="control-label">
          Dificultad
        </label>

        <input type="text" id="dificultad" name="dificultad" placeholder="Dificultad" class="form-control" value="">
      </div>

      <!-- Label and input for imagen -->
      <div class="form-group">
        <label for="imagen" class="control-label">
          Imagen
        </label>

        <input type="file" id="imagen" name="imagen" class="form-control">
      </div>

      <!-- Label and input for question -->
      <div class="form-group">
        <label for="question" class="control-label">
          Question
        </label>

        <textarea id="question" name="question" placeholder="Question" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for indicator_id -->
      <input type="hidden" name="indicator_id" value="<%= @indicator.id %>">

      <button class="btn btn-block btn-success">
        Create Excercise
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
