<div class="page-header">
  <h3>Indicator #<%= @indicator.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Pre indicator</dt>
      <dd><%= @indicator.pre_indicator_id %></dd>

      <dt>Next indicator</dt>
      <dd><%= @indicator.next_indicator_id %></dd>

      <dt>Objetivo</dt>
      <dd><%= @indicator.objetivo_id %></dd>

      <dt>Description</dt>
      <dd><%= @indicator.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/indicators" class="btn btn-primary">
        Back
      </a>
      <a href="/indicators/<%= @indicator.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_indicator/<%= @indicator.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Indicator has many excercises -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Excercises
      </li>

      <% @indicator.excercises.each do |excercise| %>
        <li class="list-group-item">
          <a href="/excercises/<%= excercise.id %>">
            <%= excercise.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/excercises/<%= excercise.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/excercises/<%= excercise.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_excercise/<%= excercise.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
