<div class="page-header">
  <h3>Indicator #<%= @indicator.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Pre indicator</dt>
      <dd><%= @indicator.pre_indicator_id %></dd>

      <dt>Next indicator</dt>
      <dd><%= @indicator.next_indicator_id %></dd>

      <dt>Objetivo</dt>
      <dd><%= @indicator.objetivo_id %></dd>

      <dt>Description</dt>
      <dd><%= @indicator.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/indicators" class="btn btn-primary">
        Back
      </a>
      <a href="/indicators/<%= @indicator.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_indicator/<%= @indicator.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
