<!-- Validation failure messages -->
<% if @test.errors.any? %>
  <% @test.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Test #<%= @test.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_test/<%= @test.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for profesor_id -->
      <div class="form-group">
        <label for="profesor_id" class="control-label">
          Profesor
        </label>

        <%= select_tag(:profesor_id, options_from_collection_for_select(Profesor.all, :id, :email, @test.profesor_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Test
      </button>
      or
      <a href="/tests/<%= @test.id %>">Cancel</a>
    </form>
  </div>
</div>
