<div class="page-header">
  <h3>Objetivo #<%= @objetivo.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Pre objetivo</dt>
      <dd><%= @objetivo.pre_objetivo_id %></dd>

      <dt>Next objetivo</dt>
      <dd><%= @objetivo.next_objetivo_id %></dd>

      <dt>Eje</dt>
      <dd>
        <% if @objetivo.eje.present? %>
          <a href="/ejes/<%= @objetivo.eje_id %>">
            <%= @objetivo.eje.description %>
          </a>
        <% end %>
      </dd>

      <dt>Description</dt>
      <dd><%= @objetivo.description %></dd>

      <dt>Nivel</dt>
      <dd>
        <% if @objetivo.year.present? %>
          <a href="/nivels/<%= @objetivo.nivel_id %>">
            <%= @objetivo.year.intended_year %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/objetivos" class="btn btn-primary">
        Back
      </a>
      <a href="/objetivos/<%= @objetivo.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_objetivo/<%= @objetivo.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Objetivo has many indicators -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Indicators
      </li>

      <% @objetivo.indicators.each do |indicator| %>
        <li class="list-group-item">
          <a href="/indicators/<%= indicator.id %>">
            <%= indicator.description %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/indicators/<%= indicator.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/indicators/<%= indicator.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_indicator/<%= indicator.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_indicator" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for pre_indicator_id -->
      <div class="form-group">
        <label for="pre_indicator_id" class="control-label">
          Pre indicator
        </label>

        <%= select_tag(:pre_indicator_id, options_from_collection_for_select(Indicator.all, :id, :description), :class => "form-control") %>
      </div>

      <!-- Label and input for next_indicator_id -->
      <div class="form-group">
        <label for="next_indicator_id" class="control-label">
          Next indicator
        </label>

        <%= select_tag(:next_indicator_id, options_from_collection_for_select(Indicator.all, :id, :description), :class => "form-control") %>
      </div>

      <!-- Label and input for objetivo_id -->
      <input type="hidden" name="objetivo_id" value="<%= @objetivo.id %>">

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Indicator
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
